.btn-user {
    border: 1px solid #000000;
    border-radius: 50%;
}

#lblCartCount {
    font-size: 10px;
    background: #0978fa;
    color: #fff;
    padding: 5px;
    vertical-align: top;
    margin-left: -3px;
    border-radius: 50%; 
}

.i-font-size {
    font-size: xx-large;
}